body {
    padding-left: 10px;
    padding-top: 10px;
}

.container {
    display: inline-block;
}

#board-specs {
    display: inline-block;
    border: solid 2px black;
    margin: 10px;
    padding: 10px;
}

#dropdownMenuButton {
    margin: 5px;
    padding: 5px;
}

.btn-primary {
    margin: 5px;
}

.btn-secondary {
    margin: 5px;
}

canvas {
    width: 50px;
    height: 50px;
    display: block;
    background-size: contain;
}

#board-render{
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}

#column {
    display: inline-block;
    vertical-align: bottom;
}

