/*colors */
:root {
    --blackHex: #1E212B;
    --blackRBG: rgb(30, 33, 43);
    --greenHex: #4D8B31;
    --greenRBG: rgb(77, 139, 49);
    --greenHex: #8ECAE6;
    --greenRBG: rgb(142, 202, 230);
    --yellowHex: #FFC800;
    --yellowRBG: rgb(255, 200, 0);
    --orangeHex: #FF8427;
    --orangeRBG: rgb(255, 132, 39);
}

body {
    padding-left: 10px;
    padding-top: 10px;
    font-family: "Monoton", Helvetica, sans-serif;
    letter-spacing: 1px;
    justify-content: left;
}

h3 {
    font-family: "Monoton", Helvetica, sans-serif;
    letter-spacing: 3px;
}

h4 {
    font-family: "Monoton", Helvetica, sans-serif;
    letter-spacing: 1px;
}

h6 {
    display: flex;
    font-family: "Monoton", Helvetica, sans-serif;
    letter-spacing: 1px;
}

th {
    font-size: 1rem;
}

label {
    text-align: left;
}

.form-check {
    padding: 0px;
    margin-top: 15px;
}

#flexDiv {
    display: flex;
    justify-content: space-between;
}

#faceGrainTitle {
    margin-left: 15px;
}

.form-container {
    display: flex;
}

#rowsAndColumns {
    display: table;
}

#board-specs, #sBoard-specs, #purchaseRecs {
    border: solid 2px #1E212B;
    border-radius: 7.5px;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
    text-shadow: 2px 2px white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#board-specs {
    box-shadow: inset 0 0 0 1000px rgb(142, 202, 230, .2);
    flex: 1.2 0px;
}

#sBoard-specs {
    box-shadow: inset 0 0 0 1000px rgb(77, 139, 49, .2);
    flex: 1.2 1 0px;
}

#purchaseRecs {
    box-shadow: inset 0 0 0 1000px rgb(255, 200, 0, .2);
    flex: 1 1 0px;
}

#rowsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#dropdownMenuButton {
    margin: 5px;
    padding: 10px;
}

.submit-button, #printButton {
    margin: 5px;
    font-family: "Monoton", Helvetica, sans-serif;
    letter-spacing: 1px;
    border-radius: 10px;
}

.submit-button {
    background-color: #FF8427;
}

#printButton {
    background-color: #FFC800;
}

#buttonWrapper {
    position: relative;
    bottom: 0px;
    left: 0px;
}

.btn-secondary {
    margin: 5px;
    width: 170px;
    font-family: "Monoton", Helvetica, sans-serif !important;
    letter-spacing: 1px !important;
    background-color: #1E212B !important; /* adding the !important overrides the bootstrap formatting */
}

#boardDesignInfoGraphicImg {
    width: 100%;
    border: solid 2px #8ECAE6;
    border-radius: 5px;
    margin: 5px;
}

#source-board-div {
    justify-content: center;
    display: flex;
}

#source-board {
    width: 90%; 
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sBoardThick, #sBoardWidth, #bladeKerf, #xDim, #yDim, #rectWidth, #rectHeight, #thickness, #sBoardThickness {
    width: 25%;
    border-radius: 2.5px;
    margin: 0.125em;
}

#sBoardThickness {
    background-color: #F1F1F1;
}

canvas {
    display: block;
    background-size: cover;
}

#board-render {
    display: inline-block;
    overflow: hidden;
    box-shadow: 10px 10px 5px lightgrey;
    z-index: 1;
}

.box {
    display: inline-block;
    margin: 15px;
    margin-top: 20px;
}

#column {
    display: inline-block;
    vertical-align: bottom;
}

#banana {
    /* image source: http://clipart-library.com/clip-art/banana-transparent-png-8.htm" */
    width: 375px; /* we're saying 50px = 1in, and the average banana is 7.5in, and the image has some blank space on the edges of the banana */
    height: auto;
    position: absolute; 
    z-index: 2;
    display: none;
    left: 15px;
    top: 70px;
}

#thickness-render {
    z-index: 1;
    display: inline-block;
    box-shadow: 10px 10px 5px lightgrey;
    margin-left: 15px;
    overflow: hidden;
}

#thicknessSquare {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
}

#bananaBoard {
    display: inline-block;
    position: relative;
    font-size: 0.75rem;
}



  