body {
    padding-left: 10px;
    padding-top: 10px;
}

.container {
    display: inline-block;
}

#rowsAndColumns {
    display: table;
}

#rowsForm {
    display: table-row;
}

#columnsForm {
    display: table-row;
}

#tableCell {
    display: table-cell;
    width: 100px;
}

#board-specs {
    display: inline-block;
    border: solid 2px black;
    margin: 10px;
    padding: 10px;
}

#dropdownMenuButton {
    margin: 5px;
    padding: 5px;
}

.btn-primary {
    margin: 5px;
}

.btn-secondary {
    margin: 5px;
    width: 55%
}

canvas {
    width: 50px;
    height: 50px;
    display: block;
    background-size: contain;
}

#board-render{
    margin: 10px;
    display: inline-block;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 10px 10px 5px lightgrey;
    position: absolute;
}

#column {
    display: inline-block;
    vertical-align: bottom;
}

#banana {
    /* image source: http://clipart-library.com/clip-art/banana-transparent-png-8.htm" */
    width: 400px; /* we're saying 50px = 1in, and the average banana is 7.5in, and the image has some blank space on the edges of the banana */
    height: auto;
    position: absolute; 
    z-index: 2;
    display: none;
}


